
@media only screen and (max-width:320px){
        .logoCH{
                width: 80%;
                 height: 30%;
            }
        .mapa{
            width: 80%;
            height: 30%;
    
        }
            


    }

    @media only screen and (max-width:615px){
        .logoCH{
                width: 80%;
                height: 30%;
            }
        .mapa{
            width: 80%;
            height: 30%;

        }
        
    }


.logos {
     padding:  10px;
     display: block;
}

.pedi:hover {
    transform: skew(10deg)
}

.pya:hover {
    transform: skew(10deg)
}

.mapa {
    transition: all 2s;
    margin: 30px;
}

.mapa:hover {
    transform: scale(2, 2)
}

.mapaM{
    margin-top: 20px;
}
